* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFE6E4;
  background-image: url("img/top.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-heading {
  max-width: 535px;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
}

.heading {
  font-size: 40px;
  line-height: 50px;
  color: #533738;
  text-transform: uppercase;
}

.paragraph {
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 38px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -3px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #533738;
  text-decoration: none;
}

.logo:hover {
  color: #210506;
  text-decoration: underline;
}

.site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 90px;
  list-style: none;
}

.site__nav--item {
  margin-right: 28px;
  padding-bottom: 10px;
}

.site__nav--link {
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  text-decoration: none;
}

.site__nav--link:hover {
  color: #210506;
  text-decoration: underline;
}

.header__phone {
  min-width: 145px;
  margin-left: auto;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  text-decoration: none;
}

.header__phone:hover {
  color: #210506;
  text-decoration: underline;
}

.top {
  min-height: 562px;
  padding-left: 170px;
  margin-top: 85px;
}

.top .paragraph {
  margin-top: 20px;
  max-width: 440px;
}

.feedback__button {
  display: inline-block;
  max-width: 310px;
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 25px 65px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  text-decoration: none;
  background-color: #CC8B86;
  border: none;
  outline: none;
  cursor: pointer;
}

.feedback__button:hover {
  color: #35191a;
}

.about-company__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
  margin-right: 82px;
  margin-left: 82px;
}

.about-company .heading {
  margin-top: 65px;
  text-align: center;
}

.about-company--text {
  width: 445px;
  text-align: center;
}

.about-company--text .paragraph:nth-child(n+2) {
  margin-top: 34px;
}

.about-company__experience--bgc {
  background-color: #8D7370;
}

.about-company__experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 273px;
  margin-top: 21px;
  padding-right: 82px;
  padding-left: 82px;
}

.about-company__experience li {
  max-width: 190px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.about-company__experience li:first-line {
  font-size: 50px;
  line-height: 62px;
}

.portfolio .heading {
  margin-top: 66px;
}

.portfolio__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.portfolio__img__item {
  margin-bottom: 30px;
}

.portfolio__img__item img {
  display: block;
  width: 100%;
}

.portfolio__img__item:nth-child(odd) {
  margin-right: 20px;
}

.portfolio__img__item {
  position: relative;
}

.portfolio__img--text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 72, 69, 0.8);
}

.portfolio__img__item:hover .portfolio__img--text {
  z-index: 2;
}

.portfolio__img--text h3 {
  max-width: 270px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

.portfolio__img--text p {
  max-width: 418px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.portfolio__button {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
  background-color: #EFE6E4;
  border: none;
  outline: none;
  cursor: pointer;
}

.portfolio__button:hover {
  color: #CC8B86;
}

.portfolio__button:hover path {
  fill: #CC8B86;
}

.team {
  margin-top: 65px;
  background-color: #E2C4BA;
}

.team .heading {
  padding-top: 50px;
  text-align: center;
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 42px;
  margin-right: 82px;
  margin-left: 82px;
}

.people li {
  max-width: 320px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.people img {
  width: 100%;
}

.people .paragraph {
  margin-top: 10px;
}

.how-we-work {
  background-color: #E2C4BA;
}

.how-we-work .heading {
  padding-top: 35px;
  text-align: center;
}

.how-we-work__procedure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 80px;
  counter-reset: section;
}

.how-we-work__procedure li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 285px;
  text-align: center;
}

.how-we-work__step::before {
  counter-increment: section;
  content: counter(section);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #8D7370;
  border-radius: 50%;
}

.reviews .heading {
  margin-top: 28px;
  text-align: center;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
}

.reviews__button {
  margin: 29px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.reviews__button:hover circle {
  fill: #F5F2ED;
}

.reviews__button:hover path {
  fill: #CC8B86;
}

.reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__text {
  max-width: 407px;
  margin-right: 20px;
}

.reviews__text p {
  margin-bottom: 20px;
}

.reviews__img {
  display: block;
  width: 100%;
}

.reviews__img:first-child {
  margin-bottom: 17px;
}

.request {
  margin-top: 65px;
  background-color: #8D7370;
}

.request__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request__form {
  margin-left: 82px;
  margin-right: 20px;
}

.request__form .heading {
  margin-top: 50px;
  color: #FFFFFF;
}

.request__form .paragraph {
  max-width: 500px;
  margin-top: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}

input {
  display: block;
  height: 35px;
  width: 100%;
  margin-top: 40px;
  color: #FFFFFF;
  background-color: #8D7370;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transform: rotate(0.11deg);
          transform: rotate(0.11deg);
}

form input:focus {
  border-bottom: 1px solid #35191a;
  outline: none;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.footer__phone {
  color: #533738;
  text-decoration: none;
}

.footer__phone:hover {
  color: #35191a;
  text-decoration: underline;
}

.footer__adress {
  margin-left: 42px;
}

.company-name {
  margin-left: auto;
}

::-webkit-input-placeholder {
  color: #F6EDE9;
}

::-moz-placeholder {
  color: #F6EDE9;
}

:-ms-input-placeholder {
  color: #F6EDE9;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

@media (max-width: 1024px) {
  body {
    background-size: auto 520px;
  }
  .main-heading {
    font-size: 40px;
    line-height: 48px;
  }
  .heading {
    font-size: 35px;
    line-height: 40px;
  }
  .feedback__button {
    padding: 15px 15px;
  }
  .header__nav {
    padding-top: 18px;
  }
  .top {
    min-height: 400px;
    margin-top: 30px;
    padding-left: 20px;
  }
  .about-company .heading {
    margin-top: 35px;
  }
  .about-company__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 20px 0 20px;
  }
  .about__img {
    width: 356px;
  }
  .about-company--text {
    width: 100%;
    margin-top: 20px;
  }
  .about-company--text .paragraph:nth-child(n+2) {
    margin-top: 20px;
  }
  .about-company__experience {
    min-height: 150px;
    margin-top: 21px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .about-company__experience li {
    font-size: 22px;
  }
  .about-company__experience li:first-line {
    font-size: 40px;
    line-height: 42px;
  }
  .portfolio .heading {
    margin-top: 35px;
    text-align: center;
  }
  .portfolio__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .portfolio__img__item {
    margin-bottom: 10px;
  }
  .portfolio__img__item img {
    width: 100%;
  }
  .portfolio__img__item:nth-child(odd) {
    margin-right: 0;
  }
  .portfolio__button {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }
  .team {
    margin-top: 35px;
  }
  .team .heading {
    padding-top: 35px;
  }
  .people {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .reviews__slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .reviews__button--prev {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .reviews__slide {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .reviews__button--next {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .request {
    margin-top: 0;
  }
  .request__form {
    margin-left: 20px;
  }
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  .footer__adress {
    margin-left: 0;
  }
  .company-name {
    margin-left: 0;
  }
}

@media (max-width: 667px) {
  body {
    background-image: none;
  }
  .main-heading {
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }
  .heading {
    font-size: 28px;
    line-height: 35px;
  }
  .paragraph {
    font-size: 14px;
    line-height: 21px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 7px;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 0;
    padding-bottom: 7px;
  }
  .site__nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    padding-bottom: 7px;
  }
  .header__phone {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 7px;
  }
  .top {
    min-height: 0;
    padding-left: 0;
  }
  .top__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .paragraph {
    text-align: center;
  }
  .about-company .heading {
    margin-top: 0;
  }
  .about-company__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__img {
    width: 100%;
  }
  .about-company__experience {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 100px;
    margin-top: 21px;
    padding-right: 0;
    padding-left: 0;
  }
  .about-company__experience li {
    font-size: 18px;
  }
  .about-company__experience li:first-line {
    font-size: 32px;
  }
  .portfolio__img--text h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .portfolio__img--text p {
    margin: 20px 10px 0 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 10px 0 10px;
  }
  .people li {
    margin-top: 25px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .people .paragraph {
    margin-top: 5px;
  }
  .how-we-work__procedure {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .how-we-work__step::before {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .reviews__slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reviews__text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .reviews__text p {
    margin-bottom: 10px;
  }
  .request__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .map {
    margin-top: 20px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=style.css.map */